mixin CompatibilityProgressBar(data)
  -
    const percentCompat = Math.round(((data.connect + data.takePicture + data.view)/300) * 100);
    console.log(percentCompat);
  +Section.text-center#defaultProgressbar
    .row.justify-content-center
      .col-md-6
        //- h2.fs-3.fs-sm-4.text-decoration-underline.mb-3 THETA X
        p.text-500.fst-italic THETA X compatiblity - for the best interior car images

    .row.align-items-center.mt-6
      .col-md-5.position-relative
        .progress-circle.mb-4(data-progress-circle!={ 
          progress: `${percentCompat}`,
          subText: "<span class='text-700 pt-2'>X Ready</span>"
        })    

        h4 our opinion
        p.px-4 #{data.opinion} 

      .col-md-7.ps-md-7.text-start.mt-8.mt-md-0

        .progress-line.me-4(data-progress-line!={progress: `${data.connect}`, subText: "Connect"})

        .progress-line.me-4.mt-4(data-progress-line!={progress: `${data.takePicture}`, subText: "Take Picture"})

        .progress-line.me-4.mt-4(data-progress-line!={progress: `${data.view}`, subText: "View"})
        

        p.mt-4.small <span class='fw-bolder'>details: </span> #{data.details}
